

<% provide(:title, "Log in")%> 
<h1>Log in</h1>

 <%= form_for @session, :url => login_path do |f| %>
   <%= f.label 'email' %>
   <%= f.text_field :email , class: 'form-control' %><br>
   <%= f.label 'password' %>
   <%= f.password_field :password, class: 'form-control' %><br>
   <%= submit_tag 'login', class: "btn btn-primary" %>
 <% end %>

	<% if flash[:error] %>
		<%=  flash[:error]%>
		
	<% end %>

	

</div>