<!DOCTYPE html>
<html>
<head>
  <title>Blackbelt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:success] %>
	<%=flash[:success]%>
<%end%>
<% if flash[:error] %>
	<%=flash[:error]%>
<%end%>
<% if current_user %>
  <%= link_to "Log out", logout_path, method: :delete %>

  <h3>HELLO <%=current_user.first_name%> </h3>
  <%else%>
  <%= link_to "Log in", login_path %>

<% end %>

<%= yield %>

</body>
</html>
